$colorHeaderBorder: #b7c8d9;
$colorHeader: #ffffff;
$colorGreyBg: #f3f3f3;
$colorButton: #000000;
$colorFootCol: #9e9e9e;
$colorFootCol3hour: #e8e8e8;
$colorPlacehoulder: #a4a4a4;
$colorFormP: #f0f0f0;
$colorBgBut: #343638;
