$colorContentBackground: #efefef;
$colorArticleBackground: #ffffff;
$colorText: #757575;
$colorBorderHeaders: #fc5830;
$colorPostDescription: #bdbfce;
$colorPostListH3: #617d8a;
$colorFormText: #757575;
$colorBorder: #cfd8dc;
