$colorContentBackground: #ffffff;
$colorArticleBackground: #efefef;
$colorText: #617d8a;
$colorBorderHeaders: #1fbcd3;
$colorPostDescription: #159587;
$colorPostListH3: #1697a6;
$colorFormText: #757575;
$colorBorder: #617d8a;
